*{
  /*  outline: 1px red solid; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    background: linear-gradient(200.04deg, #B5FFE9 7.8%, rgba(239, 255, 243, 0.895833) 51.97%, rgba(239, 255, 243, 0.895833) 51.97%, rgba(239, 255, 243, 0.235287) 73.93%, rgba(255, 255, 255, 0) 93.46%);
}

body {
  display: flex;
  justify-content: center;
}

.container {
    /* position: relative; */
    max-width: 860px;
    height: 100%;
    width: 100%;
  
    background-repeat: no-repeat;
}

h1 {
  /*  position: relative; */
    font-family: Love Ya Like A Sister;
    font-style: normal;
    font-weight: normal;
    color: #244955;
    font-size: 132px;
    line-height: 164px;
    text-align: center;
    background: linear-gradient(to right,rgba(36,73,85) 20%, transparent 97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    transform: matrix(0.99, -0.1, 0.11, 0.99, 0, 0);
}


/*
h1:hover {

}
*/

.menu{
  display: flex;
  justify-content:space-between;
  width: 700px;
}

.menu a {
  color: #524549;
  font-family: Gothic A1;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  color: black;
}

.nav_wrapper {
  display: flex;
  justify-content:flex-end;
  position: relative;
  z-index: 10;
}


/*
.title_fader {
    font-family: Love Ya Like A Sister;
    font-style: normal;
    font-weight: normal;
    color: 244955;
    font-size: 132px;
    line-height: 164px;
    text-align: center;
    background: linear-gradient(to right,rgba(36,73,85) 10%, transparent 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    transform: matrix(0.99, -0.1, 0.11, 0.99, 0, 0);
}

*/

